h1
{
    background-color: #f5f7fa;
    color: black;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #f3e5f5;

}

.conteudo{
    margin: 20px;
    border: 1px solid;
    width: 800px;
    padding: 20px;
    box-shadow: 0 10px 10px gray;
}

.conteudo{
    font-size: 20px;
    text-align: justify;
}
input[type=text], input[type=number]
{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}